{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/blog.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <small> <a href="{% url 'admin:index' %}">Admin</a></small>
            <small> <a href="{% url 'portal:autores' %}">Autores</a></small>
            <small> <a href="{% url 'portal:obras' %}">Obras</a></small>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>